@import url('https://fonts.googleapis.com/css?family=Montserrat');


*{
	padding: 0;
	box-shadow: border-box;
	margin: 0;
}

body{
	background-color: #F5FFFA;
	font-family: sans-serif;
	margin: 5px;
	font-size: 18px;
}
/************Navigation menu*************************
****************************************************/
nav{
	display: flex;
	align-items: center;
	background-color: #696969;
	color: #FFFFFF;
	height: 8vh;
}

nav p{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navlinks{
	display: flex;
	margin-left: auto;
	justify-content: space-around;
	width: 40%;
	list-style: none;
}

.navlinks a:hover{
	color: #000077;
	font-size: 20px;
}

.navlinks a{
	color: #FFFFFF;
	text-decoration: none;
}

.image{
	width: 30px;
	height: 30px;
}

.burger div{
	background-color: #FFFFFF;
	margin: 5px;
	height: 3px;
	width: 25px;
}

.burger{
	opacity: 0;
	cursor: pointer;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #696969;
	bottom: 0;
	margin-top: 30px;
	height: 8vh;
}

footer p{
	color: #ffffff;
}
/**************main body elements*********************
*****************************************************/

.header{
	margin-top: 0;
	background-color: #C0C0C0;
	text-align: center;
	justify-content: space-between;
	margin-bottom: 10px;
	height: 15vh;
}
.header h1{
	padding-top: 10px;
	font-size: 60px;
	font-family: serif;
	color: #0000FF;
	text-shadow: 1px 5px 5px rgba(0,0,030, .9);
}

.header p{
	font-size: 20px;
	color: #000000;
	text-shadow: 1px 5px 5px rgba(0,0,030, .4);
}
.small-image{
	position: fixed;
	bottom: 8vh;
	right: 10px;
}
.small-image img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
}

.small-image2{
	position: fixed;
	bottom: 8vh;
	left: 10px;
}
.small-image2 button{
	background-color: #000000;
	color: #FFFFFF;
	width: 80px;
	height: 30pxpx;
	border-radius: 10%;
	cursor: pointer;
	opacity: 0;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin: auto;
	margin-top: 30px;
	padding: 5px;
	border-radius: 3%;
	border: solid #ffffff;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .3)

}
.container h3{
	text-align: center;
	padding-bottom: 5px;
	font-size: 25px;
	font-family: serif;
}
.container h5{
	font-size: 20px;
	text-align: center;
	font-family: serif;
}
.Keys li{
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: circle;
}

.profile .photo{
	margin: auto;
	width: 100px;
	height: 150px;
	text-align: center;
	border-radius: 40%;
}
.profile li{
	list-style: none;
}

 .profile{
 	background-color: #DCDCDC;
	display: flex;
	position: fixed;
	right: 5px;
	top: 30vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 23%;
	margin-left: auto;
	border-radius: 3%;
	border: solid #DCDCDC;
	box-shadow: 1px 5px 5px rgba(0,0,0, .3)
}


.logIn{
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: start;
	top: 30vh;
	left: 10px;
	margin-right: auto;
	width: 21%;
	border-radius: 3%;
	background-color: #DCDCDC;
	box-shadow: 1px 3px 3px 3px rgba(0,0,0, .2);
	border: solid #DCDCDC;
}
.title {
  font-family: "serif";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 30px;
  line-height: .75;
  margin: 10px 0;
}

.site-images{
	width: 100%;
	height: 350px;
	border-radius: 3%;
}

.green{
	color: #00FF00;
}
.greenText{
	color: #00FF00;
	text-shadow: 1px 5px 5px rgba(0,0,030, .3)
}
.blueText{
	color: #0000FF;
	text-shadow: 1px 5px 5px rgba(0,0,030, .3)
}
.levels{
	font-size: 20px;
	color: #000000;
}

.links{
	text-decoration: none;
	color: #000077;
	cursor: pointer;
}
.links a:hover{
	font-size: 20px;
	text-decoration: underline;
}

#button{
	position: relative;
	bottom: 1px;
	left: 50vw;
	background-color: #808080;
}


/**************************media query (tablets)*****************
****************************************************************/

@media only screen and (max-width: 900px){

	.navlinks{
		width: 60%;
	}

	.profile{
		right: 0;
		top: 10vh;
		width: 40%;
		opacity: 0
	}
	.show-profile{
		opacity: 2;
	}

	.logIn{
		top: 33vh;
		left: 10px;
		width: 40%;
		opacity: 0;

	}

	.logIn-show{
		opacity: 2;
	}
	.small-image{
		bottom: 3vh;
	}
	.small-image img{
		opacity: 2
	}

	.small-image2 button{
		opacity: 2;
	}


	.container{
		width: auto;
		margin: 0;
		border-radius: 0;

	}
}

/**************************media query (navigation bar)*****************
****************************************************************/
@media only screen and (max-width: 700px){
	.navlinks{
		width: 70%;
	}
}



/***************Media querry (Mobile)************
************************************************/
@media only screen and (max-width: 500px){
	body{
		margin: 0;
		font-size: 15px;
	}
	.navlinks{
		display: flex;
		position: relative;
		align-items: center;
		list-style: none;
		color: #ffffff;
		background-color: #696969;
		justify-content: space-around;
		width: 100%;
		font-size: 12px;
		height: 6vh;
		top: 7.3vh;
		margin-left: auto;
		opacity: 0;
	}

	.burger{
		opacity: 2;
	}

	.navlinks-open{
		opacity: 2;
	}
	.small-image{
		bottom: 8vh;
	}
	.small-image img{
		opacity: 2;
		width: 40px;
		height: 40px;
	}

	.profile{
		margin-left: 5px;
		position: fixed;
		top: 13vh;
		width: 100%;
		border-radius: 0;
		opacity: 0;

	}

	.show-profile{
		opacity: 2;
	}
	.profile cite{
		text-align: center;
	}

	.logIn{
		width: 100%;
		border-radius: 0;
		left: 0;
		opacity: 0;
	}
	.logIn-show{
		opacity: 2;
	}

	.small-image2 button{
		opacity: 2;
		width: 80px;
		height: 30px;
		border-radius: 10%;
	}

	.header h1{
		font-size: 40px;
	}
	.header p{
		font-size: 15px;
	}

	.container{
		width: auto;
		border-radius: 0;
		margin: 0;
	}
	.container h3 h5{
		font-size: 20px;
	}
	.container p{
		text-align: center;
	}

	.site-images{
		width: 100%;
		height: 30%;
		border-radius: 0;
		margin: 0;
	}

	
}
/************************Dark mode************************************
*********************************************************************/

.dark{
	background-color: #101010;
	color: #FFFFFF;
}
.dark .header{
	background-color: #000033;
}
.dark .header p{
	color: #FFFFFF;
}

.dark .container{
	border: solid #111111;
}

.dark .container h3{
	color: #FFCC00;
}

.dark .levels{
	color: #C0C0C0;
}

.dark .sub-heading{
	color: #FFCC00;
}

.dark .links{
	text-decoration: underline;
	color: #0000FF;
}

.dark .profile{
	background-color: #010101;
	border: solid #000000;
}

.dark .logIn{
	background-color: #010101;
	border: solid #000000;
}